<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>MeteoNow</title>
  </head>
  <body>
    <header>
      <div class="barra-iniziale">
        <img
          data-src="/images/logo.gif"
          style="height: 32px; width: 32px"
        />
        <h3>MeteoNow</h3>
      </div>
      <div class="logo-nome">
        <img
          data-src="/images/logo.gif"
          style="height: 100px; width: 100px"
        />
        <a href="/no-city"><h1>MeteoNow</h1></a>
      </div>
    </header>
    <main>
      <div class="actual-city">
        <a href="/no-city"><h2>Errore, pagina non trovata</h2></a>
      </div>
    </main>
    <!-- <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script> -->
    <script src="javascript/script.js"></script>
    <script src="javascript/workers/image-loader.js"></script>
  </body>
</html>
